PORT=3005
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
ANALYTICS_DB_NAME=quest_analytics

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://admin:rabbitmq123@localhost:5672
